*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family:"poppins", sans-serif;
    }
    
    body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    background-image: url('/css/backg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/css/backg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(0px) brightness(0.7) contrast(1.2); /* Ajusta los valores según prefieras */
        z-index: -1; /* Asegúrate de que el fondo esté detrás del contenido */
    }
    
    header{
            background-color: transparent; /* Fondo completamente transparente */
            text-align: center;
            height: 50px; /* Ajusta la altura según tus necesidades */
            position: relative;
            transition: .5s;
            border-bottom: 1px solid #111111; /* Línea de separación en la parte inferior */
    }
    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Asegura que el contenido del nav ocupe toda la altura del header */
    }
    
    .logo img {
        max-width: 0px; /* Controla el tamaño del logotipo */
        height: auto;
    }
    .nav-link {
        display: inline-block;
        text-decoration: overline;
        font-weight: bold;
        color: #181717;
        margin: 0 15px;
        padding: 5px 15px;
        border-radius: 30px;
    }
    .social_container {
        display: flex;
        gap: 15px; /* Ajusta el espacio entre los iconos */
        justify-content: center; /* Centra los íconos dentro del contenedor */
        align-items: center; /* Alinea verticalmente los íconos */
        padding: 10px 0; /* Añade algo de espacio arriba y abajo */
    }
    
    .social-link img {
        width: 20px; /* Tamaño de los íconos */
        height: 20px;
        transition: transform 0.3s ease, opacity 0.3s ease; /* Efecto de transición suave */
    }
    
    .social-link img:hover {
        transform: scale(1.2); /* Agranda el ícono al pasar el ratón */
        opacity: 0.8; /* Hace que el ícono se vea un poco más tenue al pasar el ratón */
    }
    
    .social-link img:active {
        transform: scale(1.1); /* Reduce un poco el tamaño al hacer clic */
    }
    .frosted-background {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3); /* Color semitransparente para un efecto de "vidrio" */
        border-radius: 15px;
        padding: 20px;
        color: black; /* Color del texto sobre el fondo */
    }